{% extends 'base.html' %}
{% block title %}
    Delete the manufacturer:
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Do you want to delete this type {{ delete_type }}</h1>
        <a href="{% url 'list_type' %}">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}