{#{% extends 'base.html' %}#}
{#{% block title %} Technical problem : {% endblock %}#}
{#{% block content %}#}
{#{% load static %}#}
    {#    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
{##}
    {#    <div class="container">#}
    {#    <div class="row justify-content-md-center">#}
    {#    <div class="col col-lg-2">#}
    {#        Column#}
    {#    </div>#}
    {#    <div class="col">#}
{##}
{#    <br><br>#}
{##}
{#    {% for product in all_info_per_question %}#}
{#        <div class="container">#}
{#            <div class="row align-items-start">#}
{#                <div class="col">#}
{#                    <div class="card">#}
{#                        <h4 class="card-header" style="background-color: #2b8df5">{{ product.info_questions }}  </h4>#}
{#                        <div class="card" style="width: 15rem;">#}
{#                            <span class="border border-5">#}
{#                            <img src={{ product.image }}#}
{#                                         class="card-img-top" alt="img" height="200">#}
{#                                </span>#}
{#                            <div class="col">#}
{#                                <div class="card-body">#}
{#                                    <hr>#}
{#                                    <h4 class="card-title">{{ product.info_questions}} </h4>#}
{#                                    <p class="card-text">To make sure that this content applies to the device for which#}
{#                                        you#}
{#                                        need information, select your product.</p>#}
{#                                    <div class="shadow p-3 mb-5 bg-body rounded">#}
{#                                        <a href="{% url 'info' product.id %}" class="btn btn-primary"> Select#}
{#                                            model </a>#}
{#                                    </div>#}
{#                                    <br>#}
{#                                    <hr>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}
{##}
