

{% extends 'base.html' %}
{% block title %} Info {% endblock %}
{% load static %}
{% block content %}


    <br><br>
    {% for product in all_type_per_info %}
        {% if product.model == 'Samsung Galaxy S10' %}
            <div class="text-center">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>
                        <b class="text-primary">
                            {{ product.question }}
                        </b>
                    </h1>
                </div>
            </div>
            <br>
            <hr>
            <p style="font-size:20px;">{{ product.info_text }}</p>
            <br>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <strong>First step : Back up Data Before A Factory Reset !</strong>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        Factory Resetting your phone will erase all the content of your Phone
                        whether it be personal data, customized settings, messages, contacts, photos, downloaded apps.
                        So, you better take a backup of your phone before performing factory reset.
                        You can backup your phone using Samsung account/Google account or using any third party apps.
                        If you want to backup your phone using Samsung account or Google account then you need to go
                        to Settings and click on Backup and Restore option after that follow the onscreen process.
                        <br>
                        <br>
                        <strong>Note:</strong> You will need to enter your Google password after resetting your Phone if
                        the phone is
                        having Google account.
                        This ensure unauthorized access to phone. But if you want to turn off the protection then simply
                        remove the Google account associated with the phone.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong> Second step: How to Factory Reset Samsung ? </strong>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        You have 4 ways to factory reset Samsung phone which is totally different from one another.
                        The process to reset the phone is quite easy, you just need to follow the steps correctly
                        and you are good to go. I suggest you to go through all the methods then choose the easy
                        and best method which will help you to perform the factory resetting process with an ease.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <strong> Way 1: Perform Factory Reset in Settings </strong>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        The first process to restore factory settings Samsung is using Settings menu but the location of
                        the factory reset in the settings menu might be slightly different depending upon the model of
                        the phone and even the operation system of the phone. Some of which are shown below.
                        <br>
                        Process to factory reset Samsung using Settings menu:
                        <br>
                        <b>1</b>. Go to settings of your phone and tap on General Management.
                        <br>
                        <b>2</b>. Once you are in General Management, search and tap on Reset. Now tap on Factory data
                        reset.
                        <br>
                    <h6 class="text-center">Or</h6>
                    <br>
                    <b>1</b>. Go to Settings >> Tap on Backup and reset >> Tap on Factory data reset.
                    <img src="https://images.tenorshare.com/topics/android-data/factory-reset.webp" alt="img"
                         width="550">
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <strong> Way 2: Factory Reset Samsung using Buttons </strong>
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        If you are unable to unlock your phone then you can use the keys (buttons) combination to
                        factory reset your Samsung phone. You will also be needed to know password of your Google
                        account that is associated with the phone to enter into the phone once the device is reset (You
                        will only get this feature in the latest operating system).
                        <br>
                        Process to factory reset Samsung using Buttons:
                        <br>
                        <b>1.</b> First turn off your phone completely then press and hold the Volume up button, Power
                        button
                        and Home button at the same time.
                        <br>
                        <b>2.</b> <em>(For latest model which doesn't have Home button)</em> Press and hold
                        <b><span class="badge bg-secondary">Volume up</span></b> &
                        <b><span class="badge bg-secondary">Power button</span></b>Power button together
                        unless the phone turns on and
                        Samsung Logo appears on the screen.
                    </p>
                    <img src="https://images.tenorshare.com/topics/samsung/hard-reset-button-of-samsung.webp" alt="img"
                         width="550">
                    <p style="font-size:20px;">
                        <b>3.</b> As the phone vibrates, release the Power button but continue holding other two
                        buttons.
                        <br>
                        <b>4.</b> Menu will appear on the screen and then only release other two buttons.
                        <br>
                        <b>5.</b> Now use your volume down button to select "Wipe data/factory reset" and then press
                        power
                        button to apply the action.
                        <br>
                        <b>6.</b> Again press power button to select 'Yes' option of the screen.
                        <br>
                        <b>7.</b> Once the process is completed, you will see a message appears at the bottom of the
                        screen
                        stating "Data wipe complete".
                        <br>
                        <b>8.</b> Select reboot system now and press power button to start the process.
                    </p>
                    {# nu stiu cum sa fac imaginea din mica mai mare#}
                    {#                    <div class="gfg">#}
                    {#                        <p id="my-image">#}
                    {#                            <img src="https://images.tenorshare.com/topics/samsung/samsung-factory-reset.webp">#}
                    {#                        </p>#}

                    {#                    <a href={% url  "..static/images/hard reset-samsung.png" %}>#}
                    {#                    <img src=""#}
                    {#                             width="300px" height="250px">#}
                    {#                    </a>#}
                    <img src="https://images.tenorshare.com/topics/samsung/samsung-factory-reset.webp"
                         alt="how to reset">
                </div>
            </div>
            <br>
        {% endif %}
        {% if product.model == 'Samsung Galaxy Buds 2' %}
            <div class="text-center">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>
                        <b class="text-primary">
                            {{ product.question }}
                        </b>
                    </h1>
                </div>
            </div>
            <br>
            <hr>
            <p style="font-size:20px;">{{ product.info_text }}</p>
            <br>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <strong> Manually restart your Samsung earbuds : </strong>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        Feel the need to simply restart your earbuds, instead of completely resetting them? To do this,
                        just insert the earbuds into the charging case, and then close the lid.
                        <br>
                        Wait 7 seconds or more, and then remove the earbuds from the case.
                        <br>
                        After the earbuds restart, they will automatically reconnect to your device.
                        <br>
                        <img src="https://phandroid.com/wp-content/uploads/2019/03/Samsung_Galaxy_Buds_7.jpg"
                             width="450" class="img-thumbnail"
                             alt="earbuds">
                        <br>
                        <b></b> The Gear IconX has a physical Power/Restart button that can be used to reset the Gear
                        IconX. Please check your user manual for more details. Only the Gear IconX has this function.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong> Factory reset your Samsung earbuds : </strong>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <b>Note:</b> Factory resetting the Gear IconX deletes all music stored in the earbuds. To
                        prevent data
                        loss, you should perform a restart instead. You cannot store music directly on the Galaxy Buds,
                        Galaxy Buds2, Galaxy Buds+, Galaxy Buds Live, or Galaxy Buds Pro.
                        <br>
                        When you perform a reset on your earbuds, all of the settings will return to their defaults. You
                        can only reset your earbuds through the Galaxy Wearable app, and both earbuds must be connected.
                        When paired to an iPhone, the Galaxy Buds+ and Galaxy Buds Live can be reset with the Buds app
                        on an iPhone 7 or later with iOS 10 or higher.
                        <br>
                        <img src="https://www.technobezz.com/files/uploads/2021/01/Reset-Galaxy-Buds-.jpg"
                             width="350" class="img-thumbnail"
                             alt="earbuds">
                        <br>
                        <br>
                        First, navigate to and open the Galaxy Wearable app on your Galaxy phone.
                        <br>
                        <br>
                    <li><b>Galaxy Buds+, Galaxy Buds Live, Galaxy Buds Pro, and Galaxy Buds2:</b> Tap <b>Watch
                        settings</b>, tap
                        <b>Reset</b>, and then tap <b>Reset</b> again to confirm.
                    </li>
                    <br>
                    <li><b>Galaxy Buds:</b> Tap <b>About</b> earbuds. Tap <b>Reset earbuds</b>, and then tap
                        <b>Reset</b> to confirm.
                    </li>
                    <li><b>Gear IconX:</b> Tap the <b>SETTINGS</b> tab in the app, and then tap <b>About Gear</b>. Tap
                        <b>Reset Gear</b>, and
                        then tap <b>RESET</b>.
                    </li>
                    <br>
                    <br>
                    Now you can pair your Galaxy Buds, Galaxy Buds+, Galaxy Buds Live, Galaxy Buds Pro, Galaxy
                    Buds2, or Gear IconX with another device if you'd like. Refer to our guide for connection issues
                    if necessary.
                    </p>
                </div>
            </div>
        {% endif %}
        {% if product.model == 'Apple iPhone 11' %}
            <div class="text-center">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>
                        <b class="text-primary">
                            {{ product.question }}
                        </b>
                    </h1>
                </div>
            </div>
            <br>
            <hr>
            <p style="font-size:20px;">{{ product.info_text }}</p>
            <br>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <strong> First method: How to do a Factory Reset on APPLE iPhone 11 ?</strong>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <br>
                        <b>1.</b>On the Home screen you will find a Settings app, tap on it to open the app:
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/39c92a275a014be9893eda77ab7d5945/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <b>2.</b>From the visible list of options, tap General:
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/ff640dd1ba244acd98ac9a6290d581ba/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <b>3.</b>Then select Reset and tap on "Erase All Content and Settings":
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/8dc747465e1c4726a629a97580a7d114/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <b>4.</b>You will now be resented by a warning message to confirm:
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/1ae7046974ef488b93f168a3bf75f54b/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <br>
                        <b>5.</b>Enter your passcode once prompted.
                        <br>
                        <br>
                        <b>6.</b>Finally, accept all the information, and wait to finish operation.
                        <br>
                        <br>
                        <b>7.</b>Splendid! You have just finished the Hard reset process.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong> Second method: How to do a Hard Reset on APPLE iPhone 11 ? </strong>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <b>1.</b>Start by connecting your APPLE iPhone 11 into your PC, or laptop.
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/54fb46f467764815bc3c32998dfaee35/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <br>
                        <b>2.</b>Power off your device using the Power key.p.
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/image/2018/08/off.gif"
                             width="300">
                        <br>
                        <br>
                        <b>3.</b>Now, hold the Power button for about 3 seconds then press and hold Volume Down with
                        Power button for another 10 seconds.
                        Then release only Power button.
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/image/2018/08/1_duPX8aB.gif"
                             width="300">
                        <br>
                        <br>
                        <b>4.</b> Once iTunes displays message regarding your device in Recovery Mode, release the
                        Volume down
                        button.
                        <br>
                        <b>5.</b> Accept any alert and wait for the process to finish.
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <strong> Third method: How to do a reset on APPLE iPhone 11 by iTunes </strong>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <b>1.</b>Start the process by plugging your iPhone to your computer and opening iTunes:
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/54fb46f467764815bc3c32998dfaee35/
                apple-iphone-11.jpg"
                             width="200">
                        <br>
                        <br>
                        <b>2.</b>Once you see your device show up in iTunes in the top left corner, tap on it.
                        <br>
                        <br>
                        <b>3.</b>Tap on the Restore button in iTunes.
                        * You can now do back up your files, just if you want.
                        <br>
                        <br>
                        <b>4.</b>Now select Restore to confirm information about this procedure.
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2019/252/8e4e34531de845e5a1421aa02747f943/
                apple-iphone-11.jpg"
                             width="400" height="250">
                        <br>
                        <br>
                        <b>5.</b>iTunes will now start download of the correct iOS version, prepare and restore the
                        software on
                        your iPhone.
                        <br>
                        <br>
                        <b>6.</b>To finish operation choose "Set up as a new iPhone".
                        <br>
                        <br>
                        <b>7.</b>Choose a name for your phone.
                        <br>
                        <br>
                        <b>8.</b>Well done! The factory reset is done.
                        <br>
                        <br>
                </div>
            </div>
        {% endif %}
        {% if product.model == 'Xiaomi Redmi 9' %}
            <div class="text-center">
                <div class="shadow p-3 mb-5 bg-body rounded">
                    <h1>
                        <b class="text-primary">
                            {{ product.question }}
                        </b>
                    </h1>
                </div>

            </div>
            <br>
            <hr>
            <p style="font-size:20px;">{{ product.info_text }}</p>
            <br>
            <hr>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <strong> Factory reset using the Settings: </strong>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <br>
                        <b>1.</b>On your Redmi phone, find and launch the Settings app.
                        <br>
                        <b>2.</b>Tap <b>General Settings.</b>
                        <br>
                        <b>3.</b>Tap <b>Backup & reset.</b>
                        <br>
                        <b>4.</b>Tap <b>Factory data reset.</b>
                        <br>
                        <b>5.</b>Next, you can decide if you want to remove the downloaded apps and the contents in
                        the external SDcard.
                        <br>
                        <b>6.</b>Once you're ready, tap <b>Reset</b> phone.
                        <br>
                        <br>
                        <img src="https://www.webcazine.com/wp-content/uploads/2014/03/backup_and_reset_20140319.jpg"
                             width="200">
                        <img src="https://www.webcazine.com/wp-content/uploads/2014/03/backup_and_reset_1_20140319.jpg"
                             width="200">
                        <br>
                    </p>
                </div>
            </div>
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong> Hard reset using Power and Volume Down buttons: </strong>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p style="font-size:20px;">
                        <br>
                        <b>1.</b>Power off your Redmi phone.
                        <br>
                        <b>2.</b>Press and hold the <b> Volume Down + Power buttons </b> at the same time.
                        <br>
                        <b>3.</b>Release all buttons as soon as you see the menu below.
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2020/195/2c993352a2e44a77971c4c9c5aa36380/
                        xiaomi-redmi-note-9.jpg"
                             width="200">
                        <br>
                        <b>4.</b>Using the <b>Volume Down</b> button to scroll the pointer to <b>Recovery Mode</b> and
                        press the <b>Volume Up button</b> to select.
                        <br>
                        <b>5.</b>Once you see the Android lying down with the red hazard box,
                        press the <b>Power button</b> to get the Android system recovery menu.
                        <br>
                        <b>6.</b>Using the <b>Volume Down button</b> to highlight <b>wipe data/factory reset </b>
                        and press the <b>Volume Up button</b> to select.
                        <br>
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2020/075/eb8dd37ffc3c4b25a2eeb562f7e77776/
                        xiaomi-redmi-note-9.jpg"
                             width="205">
                        <img src="https://www.hardreset.info/media/resetinfo/2020/075/daaf3558d5d84540bfc990abbb2ec00d/
                        xiaomi-redmi-note-9.jpg"
                             width="203">
                        <br>
                        <br>
                        <b>8.</b>After wiping out the data, you will get back to the <b>Android system recovery</b>
                        main menu.
                        Select <b>Reboot system now</b> with the <b>Power button</b>.
                        <br>
                        <img src="https://www.hardreset.info/media/resetinfo/2020/075/d2e04c07edbf490fa4ee6b60bb3b18c5/
                        xiaomi-redmi-note-9.jpg"
                             width="205">
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}