{% extends 'base.html' %}
{% load static %}
{% block title %}
    Home
{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content %}

    <body>
    <div class="container">
        <div class="jumbotron text-center">

            <img src="https://media.proprofs.com/images/QM/user_images/2503852/New%20Project%20(29)(135).jpg"
                 alt="Troubleshooting" width="450" height="150">
            <div class="alert alert-primary">
                <h4 class="text-muted"> Do you have a technical problem with your device? Try to find the solution here
                    ! </h4>
            </div>

            <div>
                <img src="https://review.chinabrands.com/chinabrands/seo/image/20181130/20181129235914553231-1.png"
                     class="rounded" alt="Troubleshooting screen" height="400"
                     width="600">


            </div>
        </div>
    </div>
{% endblock %}