{% extends 'base.html' %}
{% block title %}
    Add a new info:
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="{% url 'list_questions' %}" class="btn btn-warning">Go to the list</a>
            </form>
        </div>
    </div>
{% endblock %}