{% extends 'base.html' %}
{% block title %}
    Delete the info:
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h1>Do you want to delete this questions {{ delete_question }}</h1>
        <a href="{% url 'list_questions' %}">Cancel</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
{% endblock %}