{% extends 'base.html' %}
{% block title %}
    List  questions:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> The question is</th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for q in question %}
            <tr>
                <td> {{ q.info_questions }}</td>
                <td>
                    <a href="{% url 'update_questions' q.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete_questions' q.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail_questions' q.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'new_questions' %} " class="btn btn-primary"> Add new product </a>
{% endblock %}