{% extends 'base.html' %}
{% block title %}
    List of products:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> The product's name </th>
            <th> Model_of_product </th>
            <th> Troubleshooting </th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td> {{ product.name_of_product }}</td>
                <td> {{ product.model_of_product }}</td>
                <td> {{ product.troubleshooting }}</td>
                <td>
                    <a href="{% url 'update_product' product.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete_product' product.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail_product' product.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'new_product' %} " class="btn btn-primary"> Add new product </a>
{% endblock %}