{% extends 'base.html' %}
{% block title %}
    Ticket
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send</button>
                <a href="{% url 'home' %}" class="btn btn-warning">Cancel and go to home</a>
            </form>
        </div>
    </div>
{% endblock %}

{#<div class="dropdown">#}
{#  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">#}
{#    Dropdown button#}
{#  </button>#}
{#  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">#}
{#    <li><a class="dropdown-item" href="{{ ticket.products }}">Action</a></li>#}
{#    <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#    <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#  </ul>#}
{#</div>#}