{% extends 'base.html' %}
{% block title %}
    List of tickets:
{% endblock %}
{% block content %}
    <table class="table table-success table-striped">
        <thead>
        <tr>
            <th> Name of ticket</th>
            <th> Category</th>
            <th> Description</th>
            <th class="pull-right"> Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td> {{ ticket.products }}</td>
                <td> {{ ticket.category }}</td>
                <td> {{ ticket.description }}</td>
                <td>
                    <a href="{% url 'update_ticket' ticket.id %}" class="btn btn-warning"> Edit</a>
                    <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-primary"> Delete </a>
                    <a href="{% url 'detail_ticket' ticket.id %}" class="btn btn-danger"> Details </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_ticket' %} " class="btn btn-primary"> Add new ticket </a>
{% endblock %}