body {
    background-image: url(../images/backround.png);
    /*background: blue;*/
}

.gfg {
    width: auto;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}